In [2]:
import numpy as np

In [3]:
import pandas as pd

## Seriler

In [4]:
benimSozlugun = {"Mehdi" : 40, "Zeynep" : 100 , "Mehmet" : 30}

In [5]:
pd.Series(benimSozlugun)

Mehdi      40
Zeynep    100
Mehmet     30
dtype: int64

In [6]:
benimYaslarim =[40,100,30]
benimIsimlerim= ["Mehdi","Zeynep" ,"Mehmet"]

In [7]:
pd.Series(benimYaslarim)

0     40
1    100
2     30
dtype: int64

In [8]:
pd.Series (benimYaslarim, benimIsimlerim)

Mehdi      40
Zeynep    100
Mehmet     30
dtype: int64

In [9]:
pd.Series (data= benimYaslarim, index= benimIsimlerim)

Mehdi      40
Zeynep    100
Mehmet     30
dtype: int64

In [10]:
numpyDizisi = np.array([50,40,30])

In [11]:
numpyDizisi

array([50, 40, 30])

In [12]:
pd.Series(numpyDizisi)

0    50
1    40
2    30
dtype: int32

In [13]:
pd.Series(numpyDizisi, benimIsimlerim)

Mehdi     50
Zeynep    40
Mehmet    30
dtype: int32

In [14]:
pd.Series(["Mehdi","Ali","Hüseyin"], [1,2,3])

1      Mehdi
2        Ali
3    Hüseyin
dtype: object

In [16]:
yarismaSonucu1 = pd.Series([10,5,1],["Atil","Atlas","Mehmet"])

In [17]:
yarismaSonucu1

Atil      10
Atlas      5
Mehmet     1
dtype: int64

In [18]:
yarismaSonucu2=pd.Series([20,10,5],["Atil","Atlas","Mehmet"])

In [19]:
yarismaSonucu2

Atil      20
Atlas     10
Mehmet     5
dtype: int64

In [20]:
yarismaSonucu2["Atlas"]

10

In [21]:
Sonsonuc = yarismaSonucu1 + yarismaSonucu2

In [22]:
Sonsonuc

Atil      30
Atlas     15
Mehmet     6
dtype: int64

In [24]:
farkliSeries = pd.Series([20,30,40,50],["a","b","c","d"])

In [25]:
farklıSeries2= pd.Series([10,5,3,1],["a","c","f","g"])

In [27]:
farkliSeries

a    20
b    30
c    40
d    50
dtype: int64

In [28]:
farklıSeries2

a    10
c     5
f     3
g     1
dtype: int64

In [30]:
farkliSeries+farklıSeries2 
##Aynı olan değerleri toplar olmayanlara NaN (tanımsız) değeri atar.

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64