In [1]:
import pandas as pd

In [3]:
datafaram= pd.read_excel("kek.xlsx")

In [4]:
datafaram

  Unnamed: 0  Maas   Yas  Departman
0       Atıl   100  40.0    Yazılım
1     Zeyneo   200  50.0      Satış
2     Mehmet   150  20.0        NaN
3      Ahmet    50  15.0  Pazarlama
4      Atlas   150   NaN     Finans
5      Fatma   200  21.0      Hukuk

In [6]:
doludegerlerdata= datafaram.dropna()

In [7]:
doludegerlerdata

  Unnamed: 0  Maas   Yas  Departman
0       Atıl   100  40.0    Yazılım
1     Zeyneo   200  50.0      Satış
3      Ahmet    50  15.0  Pazarlama
5      Fatma   200  21.0      Hukuk

In [8]:
doludegerlerdata.to_excel("yenimaas.xlsx")

In [ ]:
#csv formatında gelirse read_csv okumak için
# to_csv yazmak için